<!DOCTYPE html>
<html>
  <head>
    <title>SimpleroTakeHomeTestRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
<link rel="stylesheet" href="https://unpkg.com/flowbite@latest/dist/flowbite.min.css" />
    <%= javascript_importmap_tags %>
  </head>

  <body class="dark:bg-black dark:text-white">
  <div  class="dark:bg-black dark:text-white">
     <% if current_user %>
      <%= render partial: "shared/navbar" %>
    <%end%>
    <main class="container pb-12 mx-auto mt-28 px-5 flex dark:bg-black dark:text-white">
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
    </div>
    <script src="https://unpkg.com/flowbite@latest/dist/flowbite.js"></script>
</html>
